
<section class="benefits-sec">
  <div class="page-width">
    <h2 class="benefits-heading">{{ section.settings.title }}</h2>
    <div class="benefits-wrapper">
      <div class="benefits-left">
        
          {% if product.metafields.custom.benefits_left_item %}
            <div class="benefits-features-wrap">
              <ul>
                {% for item in product.metafields.custom.benefits_left_item.value %}
                  <li>
                    <span>{{ item }}</span>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          
          {% assign left_item = section.blocks | where: 'type', 'Add-Left-Item' %}
          {% for left_item in left_item %}  
            <li class="benefits-list">   
              <div class="benefits-content">
                {{ left_item.settings.text-box-content }} 
              </div>
            </li>
          {% endfor %}
      </div>
      <div class="benefits-right">
         {% if product.metafields.custom.benefits_right_item %}
                  <div class="benefits-features-wrap">
                    <ul>
                      {% for item in product.metafields.custom.benefits_right_item.value %}
                        <li>
                          <span>{{ item }}</span>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}

      </div>
    </div>
    
  </div>
</section>


{% schema %}
{
    "name": "Benefits Points",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      }
    ],
    "presets": [
      {
        "name": "Benefits Points",
        "category": "CTA button"
      }
    ]
}
{% endschema %}