 <div class="container cont09">
    <div class="custom-contact-wrapper">
<div class="contact-image-gallery">
 
   <div class="custom_head099">
     <h4>{{ section.settings.contact_text_simple }}</h4>
    </div>
  <div class="detail-custom1">
 {%for block in section.blocks %} 
    <div class="custom098">
  
<div class="contact-custom-sect">
  
  <p>{{ block.settings.contact_heading_text }} <a href="tel:+{{ block.settings.numbertext }}"><b>{{ block.settings.numbertext }}</b></a> <p>
</div>
    </div>
 {%endfor%}
  </div>
   
  </div>
 </div>
</div>     


  {% schema %}
  {
    "name": "text with image",
    "settings": [
     {
          "type": "text",
          "id": "contact_text_simple",
         "label": "contact simple"
        }
    ],
    "blocks": [{
      "type": "text",
       "name": "contact deatil custom",
       "settings": [
         {
            "type": "text",
      "id": "contact_heading_text",
      "label": "your text"
         },
          {
            "type": "text",
      "id": "numbertext",
      "label": "Phone Number"
         }
       ]
    }],
    "presets": [
      {
        "category": "image text",
        "name": "contact deatil custom"
      }
    ]
  }
    
{% endschema %}