<div class="text_content_section">
<div class="last-about-sect">

<div class="last-inner-head-about">
<h4>BREAST LITERACY PAGE</h4>
</div>
  <div class="last-inner-text-about-cust">
    <ul>
 <li><a href="https://www.youtube.com/watch?v=wiZHNuuP0Xg" target="blank">Blood & Lymphatic Supply of Breast</a><li></ul>
</div>
</div>
</div>


{% schema %}
  {
    "name": "text_content",
    "settings": [],
    "presets":[{
      "name":"text_contnet",
      "category":"text_contnet"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}